$colorBackground: #eeeeee;
$colorPrimary: #03a326;
$colorSecondary: #e6eaed;
$colorTertiary: #869099;
$colorTextPrimary: #3e3f42;
$colorTextSecondary: #666666;
$colorTextTertiary: #bcbcbc;
$colorStroke: #d8dce6;
